$main: #BF9B30;
$background: #222222;
$secondarybg: #303030;;
$text: #FFFFFF;

*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
    height: 100%;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: $background;
    color: $text;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; 
    display: flex;
    scroll-behavior: smooth;
}

.nav-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-right: 50px;
    position: sticky;
    top:0px;
    bottom:0px;
    left:0px;   
    width: 172px;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.content{
}

.content-spacer{
    height: 100%;
}

.nav{
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;

    .nav-border-main{
        position: absolute;
        width: 2px;
        height: calc(100% - 8px);
        background-color: $text;
        margin-right: 20px;
        border-radius: 1px;
        margin-top: 4px;
        opacity: 0.5;
    }

    .nav-border-selected{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: $text;
        margin-right: 20px;
        border-radius: 2px;
        margin-left: -1px;
        -webkit-transition: margin-top 0.2s linear;
        -moz-transition: margin-top 0.2s linear;
        transition: margin-top 0.2s linear;
    }

    .nav-element{
        display: flex;
        opacity: 0.5;
        height: 30px;
        -webkit-transition: opacity 0.3s linear;
        -moz-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        margin-left: 20px;
    
        a{
            text-decoration: none;
            color: $text;
        }

        p{
            margin: 5px 0;
        }
    }

    .nav-entry{
        display: flex;
        align-items: center;
        svg{
            margin-right: 5px;
        }
    }

    .active{
        opacity: 1;
    }

    .nav-word{
        white-space: nowrap;
    }
}

.mobile-nav-expand{
    position: relative;
    display: none !important;
    margin-left: 12px !important;
    top: -12px;
}

@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
    }@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

@include mq(475px) {

    .shrinked{
        width: 69px;
        .nav-word{
            display: none;
        }
    }

    .nav-container{
        margin-right: 20px;
    }

    .mobile-nav-expand{
        display: block !important;
    }

}