$main: #BF9B30;
$background: #222222;
$secondarybg: #303030;;
$text: #FFFFFF;
$blue: #00AEEF;
$green: #41CD52;
$red: #D53C4E;

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
  }

*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
    height: 100%;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: $background;
    color: $text;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; 
    display: flex;
    scroll-behavior: smooth;
}

.nav-spacer{
    width: 7vw;
    flex: 1 0 auto;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.nav-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-right: 10vw;
    position: sticky;
    top:0px;
    bottom: 0px;
    left:0px;   
    width: 172px;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#contacts{
  margin-bottom: 20px;
}

.content{
    margin-right: 10vw;

    .section-title{
        position: relative;
        h1{
            font-weight: normal;
            font-size: 24px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 5px;
            }
        }
    }
}



.side-by-side{
    display: flex;
    align-items: flex-start;
}

#about{
    margin-top: 25px;

    p{
        margin: 5px 0;
        font-size: 16px;
    }

    .title{
        opacity: 0.7;
        font-weight: 100;
        font-size: 14px;
        margin-top: 10px;
    }

    .me{
        max-width: 310px;
        width: 50%;
        margin-right: 25px;
        margin-left: auto;
        border-radius: 10px;
    }
    .about-container{
        margin-right: auto;
    }
}

.nav{
    margin-left: 20px;
    position: relative;
    margin-bottom: 20vh;
    -webkit-transition: margin-bottom 0.3s linear;
    -moz-transition: margin-bottom 0.3s linear;
    transition: margin-bottom 0.3s linear;

    .nav-border-main{
        position: absolute;
        width: 2px;
        height: calc(100% - 8px);
        background-color: $text;
        margin-right: 20px;
        border-radius: 1px;
        margin-top: 4px;
        opacity: 0.5;
    }

    .nav-border-selected{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: $text;
        margin-right: 20px;
        border-radius: 2px;
        margin-left: -1px;
        -webkit-transition: margin-top 0.2s linear;
        -moz-transition: margin-top 0.2s linear;
        transition: margin-top 0.2s linear;
    }

    .nav-element{
        display: flex;
        opacity: 0.5;
        height: 30px;
        -webkit-transition: opacity 0.3s linear;
        -moz-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        margin-left: 20px;
    
        a{
            text-decoration: none;
            color: $text;
        }

        p{
            margin: 5px 0;
        }
    }

    .nav-entry{
        display: flex;
        align-items: center;
        svg{
            margin-right: 5px;
        }
    }

    .active{
        opacity: 1;
    }

    .nav-word{
        white-space: nowrap;
    }
}

.technologies-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    width: 100%;
    justify-items: center;
    margin: auto;
    .technology{
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        background-color: $secondarybg;
        padding: 20px;
        position: relative;    
        display: flex;
        align-items: center;    
        img{
            opacity: 0.25;
            width: 100%;
        }

        h3{
            position: absolute;
            color: $text;
            font-size: 1.5rem;
            text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }
    }
}

.projects-container{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr); 
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  width: 100%;
  justify-items: center;
  margin: auto;
  align-items: flex-start;
  .project{
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
      background-color: $secondarybg;
      padding: 20px;
      position: relative;    
      display: flex;
      flex-direction: column;
      height: 100%;
      img{
          width: 33%;
          margin: auto;
      }

      .wider{
        width: 100%;
      }

      h3{
          text-align: center;
          color: $text;
          font-size: 1rem;
          text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
          margin: 10px;
      }

      .project-divider{
        height: 4px;
        width: 100%;
        background-color: $text;
        border-radius: 2px;
        margin-bottom: 5px;
      }

      .gold{
        background-color: $main;
      }

      .blue{
        background-color: $blue;
      }

      .red{
        background-color: $red;
      }

      .green{
        background-color: $green;
      }

      p{
        margin: 5px 0;
      }

      .project-filler{
        flex: 1 1 auto;
      }

      .MuiButtonBase-root{
        width: 100%;
      }
  }
}

.contacts-container{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr); 
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  width: 100%;
  justify-items: center;
  margin: auto;
  align-items: flex-start;

  .contact{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    padding: 20px;
    position: relative;    
    display: flex;
    text-decoration: none;
    height: 100%;

    .contact-divider{
      height: 100%;
      width: 4px;
      background-color: $text;
      border-radius: 2px;
      margin: 0 20px;
    }

    .contact-header-container{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;      
    }

    h3{
      color: $text;
    }

    img{
        width: 25%;
        flex: 0 0 0;
    }
  }
}

.gradient1{
  background: #A76DC7;
  background: -webkit-linear-gradient(bottom left, #A76DC7, #ACC4C5);
  background: -moz-linear-gradient(bottom left, #A76DC7, #ACC4C5);
  background: linear-gradient(to top right, #A76DC7, #ACC4C5);
}

.gradient2{
  background: #9BBAC5;
  background: -webkit-linear-gradient(bottom right, #9BBAC5, #116085);
  background: -moz-linear-gradient(bottom right, #9BBAC5, #116085);
  background: linear-gradient(to top left, #9BBAC5, #116085);
}

.gradient3{
  background: #C73E1A;
  background: -webkit-linear-gradient(bottom left, #C73E1A, #C1C6B2);
  background: -moz-linear-gradient(bottom left, #C73E1A, #C1C6B2);
  background: linear-gradient(to top right, #C73E1A, #C1C6B2);
}


.clickable{
  cursor: pointer;
}


#cta{
    display: none !important;
}

.hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
    justify-items: center;
    margin: auto;
  }
  
  .card{
    list-style: none;
    position: relative;
    max-width: 300px;
    width: 100%;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
    border-radius: 10px;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }

  .card .active{
    transform: scale(1.05) translateZ(0);
  }
  
  .card__content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: $text;
    font-size: 1.5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
  }

@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
    }@mixin mq($width, $type: max) {
    @if $type == max {
        $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

@include mq(1400px) {
    .card-grid{
        grid-template-columns: repeat(2, 1fr); 
    }

    .projects-container{
      grid-template-columns: repeat(2, 1fr); 
    }

    .technologies-container{
        grid-template-columns: repeat(3, 1fr); 
    }

    .contacts-container{
      grid-template-columns: repeat(2, 1fr); 
    }
}

@include mq(1000px) {
  .contacts-container{
    grid-template-columns: repeat(1, 1fr); 
  }

  .projects-container{
    grid-template-columns: repeat(1, 1fr); 
  }
}

@include mq(800px) {
    .side-by-side{
        flex-direction: column;
    }

    .me{
        width: 100% !important;
    }

    .card-grid{
        grid-template-columns: repeat(1, 1fr); 
    }

    .technologies-container{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@include mq(475px) {

  .technologies-container{
      grid-template-columns: repeat(1, 1fr); 
  }

    .nav-spacer{
        width: 0;
    }

    .nav{
        margin-bottom: 20px;
    }

    .shrinked{
        width: 69px;
        .nav-word{
            display: none;
        }
    }

    .nav-container{
        margin-right: 20px;
    }

    #cta{
        display: block !important;
    }
}

#cta{
    width:100%;
    height: 40px;
    position: relative;
    bottom: 15px;
    left: 0px;

}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.arrow-left{
    transform: rotate(180deg);
    left: -80px !important;
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .enter {
    opacity: 0;
  }

  .animate-right{
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
  }

  .animate-left{
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
  }